In [1]:
import geopandas as gpd
from GreenExp import availability, accessibility, visibility

c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\libpysal\cg\alpha_shapes.py:38: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @jit
c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\libpysal\cg\alpha_shapes.py:164: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @jit
c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\libpysal\cg\alpha_shapes.py:198: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @jit
c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\libpysal\cg\alpha_shapes.py:260: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @jit

In [2]:
# Test data
test_path = "C:/Users/ygrin/Documents/Studie - MSc ADS/Utrecht University/Block 4 - Thesis/TestData/"
test_results_path = "C:/Users/ygrin/Documents/Studie - MSc ADS/Utrecht University/Block 4 - Thesis/TestData/Results/"
multi_point = gpd.read_file(test_path + "Test_multiple_home_locations.gpkg")

In [3]:
# Geodataframe contents
multi_point

   id                       geometry
0 NaN  POINT (388644.249 392861.634)
1 NaN  POINT (385981.911 393805.494)
2 NaN  POINT (388631.230 395322.181)

# Availability

In [4]:
# NDVI
availability.get_mean_NDVI(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                           buffer_type="network",
                           travel_speed=5,
                           trip_time=15,
                           network_type="walk",
                           save_ndvi=False,
                           write_to_file=False)

Retrieving NDVI raster through planetary computer...
Information on the satellite image retrieved from planetary computer, use to calculate NDVI values:
   Date on which image was generated: 2023-04-04T22:36:14.894809Z
   Percentage of cloud cover: 8.471548
   Percentage of pixels with missing data 0.000123
Done, running time: 0:00:09.039662

Retrieving network within total bounds of point(s) of interest, extended by buffer distance as specified...
Done, running time: 0:00:24.475693

Retrieving isochrone for point(s) of interest: 100%|██████████| 3/3 [00:15<00:00,  5.24s/it]

Note: creation of isochrones based on code by gboeing, source: https://github.com/gboeing/osmnx-examples/blob/main/notebooks/13-isolines-isochrones.ipynb

Calculating mean NDVI values...
Done, running time: 0:00:00.378054

   id                       geometry  mean_NDVI
0   1  POINT (388644.249 392861.634)      0.228
1   2  POINT (385981.911 393805.494)      0.227
2   3  POINT (388631.230 395322.181)      0.257

In [5]:
# Land cover class percentages
availability.get_landcover_percentages(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                       landcover_raster_file=test_path+"Landcover_data_test.tif",
                                       buffer_dist=500,
                                       buffer_type="euclidean",
                                       save_lulc=False,
                                       write_to_file=False)

Calculating landcover class percentages...
Done, running time: 0:00:00.435108

,id,geometry,class_0,class_1001,class_1002,class_1003,class_1004,class_1005,class_1101,class_1103,...,class_1404,class_1405,class_2001,class_2003,class_2004,class_2005,class_1501,class_1502,class_1503,class_1504
0,1,POINT (388644.249 392861.634),21.62%,12.16%,0.01%,2.48%,1.07%,2.64%,0.23%,1.39%,...,0.3%,0.59%,0.04%,0.06%,0.06%,0.06%,NaN,NaN,NaN,NaN
1,2,POINT (385981.911 393805.494),21.54%,21.43%,0.02%,2.43%,1.21%,4.69%,5.52%,5.83%,...,0.79%,4.72%,0.5%,0.07%,0.12%,0.08%,0.11%,0.01%,0.02%,0.01%
2,3,POINT (388631.230 395322.181),21.62%,15.18%,NaN,1.58%,2.15%,2.37%,0.47%,4.29%,...,1.13%,0.48%,0.23%,0.04%,0.09%,0.06%,NaN,NaN,NaN,NaN

In [6]:
# Canopy coverage
availability.get_canopy_percentage(point_of_interest_file=test_path+"Test_single_home_location.gpkg",
                                   canopy_vector_file=test_path+"Canopy_single_home_500m.gpkg",
                                   buffer_type="network",
                                   travel_speed=15,
                                   trip_time=10,
                                   network_type="bike",
                                   write_to_file=False)

Retrieving network within total bounds of point(s) of interest, extended by buffer distance as specified...
Done, running time: 0:00:28.736095

Retrieving isochrone for point(s) of interest: 100%|██████████| 1/1 [00:16<00:00, 16.15s/it]

Note: creation of isochrones based on code by gboeing, source: https://github.com/gboeing/osmnx-examples/blob/main/notebooks/13-isolines-isochrones.ipynb

Calculating percentage of tree canopy coverage...
Warning: Not all buffer zones for the Points of Interest are completely within the area covered by the tree canopy file, note that results will be based on the intersecting part of the buffer zone
Done, running time: 0:00:10.132653

   id                       geometry canopy_cover
0   1  POINT (387164.991 394443.414)        1.14%

In [7]:
# Park area coverage
availability.get_park_percentage(point_of_interest_file=test_path+"Test_single_home_location.gpkg",
                                 buffer_dist=500,
                                 buffer_type="network",
                                 network_type="bike",
                                 write_to_file=False)

Retrieving parks within total bounds of Point(s) of interest, extended by buffer distance if specified...
Done, running time: 0:00:05.560057

Retrieving network within total bounds of Point(s) of interest, extended by buffer distance as specified...
Done, running time: 0:00:06.010925

Retrieving isochrone for point(s) of interest: 100%|██████████| 1/1 [00:00<00:00,  2.81it/s]

Note: creation of isochrones based on code by gboeing, source: https://github.com/gboeing/osmnx-examples/blob/main/notebooks/13-isolines-isochrones.ipynb

Calculating percentage of park area coverage...
Warning: Not all buffer zones for the Points of Interest are completely within the area covered by the park file, note that results will be based on the intersecting part of the buffer zone
Done, running time: 0:00:00.032834

   id                       geometry park_cover
0   1  POINT (387164.991 394443.414)      2.42%

# Accessibility

In [8]:
# Shortest distance to park area
accessibility.get_shortest_distance_park(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                         target_dist=500,
                                         distance_type='euclidean',
                                         destination='entrance',
                                         network_type='walk',
                                         write_to_file=False)

Retrieving parks within total bounds of point(s) of interest, extended by a 750.0m buffer to account for edge effects...
Done, running time: 0:00:06.057977

Retrieving infrastructure network within total bounds of point(s) of interest, extended by a 750.0m buffer to account for edge effects...
Done, running time: 0:00:22.188028

Calculating shortest distances...
Done, running time: 0:00:01.242504

   id                       geometry park_within_500m  distance_to_park
0   1  POINT (388644.249 392861.634)             True             212.0
1   2  POINT (385981.911 393805.494)             True             122.0
2   3  POINT (388631.230 395322.181)             True             175.0

# Visibility

In [9]:
poi, sampled_points_df = visibility.get_viewshed_GVI(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                                     greendata_raster_file=test_path+"GM_GS_5m.tif",
                                                     dtm_raster_file=test_path+"GM_DTM_5m.tif",
                                                     dsm_raster_file=test_path+"GM_DSM_5m.tif",
                                                     #network_file=test_path+"test_network_shp.shp",
                                                     buffer_dist=100,
                                                     viewing_dist=250,
                                                     sample_dist=50,
                                                     observer_height=1.7,
                                                     write_to_file=False)

Retrieving network within total bounds of Point(s) of interest, extended by the buffer_dist in case provided...
Done, running time: 0:00:15.295298

Computing sample points for roads within area of interest's network...
Note: creation of sample points based on code by Ondrej Mlynarcik
source: https://github.com/Spatial-Data-Science-and-GEO-AI-Lab/2.5D-GreenViewIndex-Netherlands/blob/main/sample_points_linestrings.ipynb
Done, running time: 0:00:00.138457

Calculating GVI for Point 1: 100%|██████████| 12/12 [00:01<00:00, 10.06it/s]
Calculating GVI for Point 2: 100%|██████████| 60/60 [00:05<00:00, 10.24it/s]
Calculating GVI for Point 3: 100%|██████████| 46/46 [00:04<00:00,  9.47it/s]

Note: calculation of Viewshed GVI based on code by Johnny Huck and Labib Labib
source: https://github.com/jonnyhuck/green-visibility-index/blob/master/gvi.py

In [10]:
poi

   id                       geometry    GVI  nr_of_points
0   1  POINT (388644.249 392861.634)  0.532            12
1   2  POINT (385981.911 393805.494)  0.118            60
2   3  POINT (388631.230 395322.181)  0.362            46

In [11]:
sampled_points_df

     id                       geometry       GVI
0     1  POINT (388564.100 392907.269)  0.582617
1     1  POINT (388579.827 392895.998)   0.52047
2     1  POINT (388661.088 392846.149)  0.509614
3     1  POINT (388564.100 392907.269)  0.582617
4     1  POINT (388661.088 392846.149)  0.509614
..   ..                            ...       ...
113   3  POINT (388729.860 395335.932)  0.338168
114   3  POINT (388743.218 395252.725)  0.311971
115   3  POINT (388644.604 395385.631)  0.414666
116   3  POINT (388626.529 395386.291)  0.435242
117   3  POINT (388626.529 395386.291)  0.435242

[118 rows x 3 columns]

In [13]:
poi_SV, sampled_points_gdf_SV = visibility.get_streetview_GVI(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                                              access_token="MAPILLARY_API_TOKEN",
                                                              buffer_dist=150,
                                                              write_to_file=False)

Retrieving network within total bounds of Point(s) of interest, extended by the buffer_dist in case provided...
Done, running time: 0:00:12.600080

Computing sample points for roads within area of interest's network...
Done, running time: 0:00:00.316126

Downloading StreetView images for road sample points...

Downloading tiles:   0%|          | 0/2 [00:00<?, ?it/s]c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\mapbox_vector_tile\__init__.py:36: DeprecationWarning: `decode` signature has changed, use `default_options` instead
  warnings.warn("`decode` signature has changed, use `default_options` instead", DeprecationWarning)
Downloading tiles: 100%|██████████| 2/2 [00:02<00:00,  1.10s/it]
sys:1: ResourceWarning: Unclosed socket <zmq.Socket(zmq.PUSH) at 0x18aa983b310>
ResourceWarning: Enable tracemalloc to get the object allocation traceback
Downloading images: 100%|██████████| 58/58 [06:36<00:00,  6.83s/it]

Done, running time: 0:06:47.154965

Calculating StreetView GVI score...
Done, running time: 0:00:00.197050

Note: workflow for calculating Streetview GVI based on code by Ilse A. Vázquez Sánchez
source: https://github.com/Spatial-Data-Science-and-GEO-AI-Lab/StreetView-NatureVisibility

In [14]:
poi_SV

   id                       geometry       GVI  nr_of_points
0   2  POINT (385981.911 393805.494)  0.260314            16
1   3  POINT (388631.230 395322.181)       NaN             0

In [15]:
sampled_points_gdf_SV

    id                       geometry       GVI is_panoramic  missing
0    2  POINT (386067.845 393748.223)       NaN         None     True
1    2  POINT (385859.150 393802.159)       NaN         None     True
2    2  POINT (385921.794 393698.121)       NaN         None     True
3    2  POINT (386064.506 393748.295)       NaN         None     True
4    2  POINT (385964.523 393750.111)       NaN         None     True
5    2  POINT (386088.181 393747.496)       NaN         None     True
6    2  POINT (385971.774 393696.697)       NaN         None     True
7    2  POINT (386014.515 393749.229)       NaN         None     True
8    2  POINT (385914.538 393751.343)       NaN         None     True
9    2  POINT (385864.551 393752.471)       NaN         None     True
10   2  POINT (386021.768 393695.948)       NaN         None     True
11   2  POINT (385958.631 393856.129)  0.274215        False    False
12   2  POINT (386066.478 393694.738)       NaN         None     True
13   2  POINT (386067.818 393744.712)       NaN         None     True
14   2  POINT (385858.665 393855.986)  0.358471        False    False
15   2  POINT (385908.644 393857.260)  0.398881        False    False
16   2  POINT (385857.390 393851.898)  0.358471        False    False
17   2  POINT (385988.813 393882.896)  0.332714        False    False
18   2  POINT (386038.804 393881.945)  0.011524        False    False
19   2  POINT (385988.953 393927.463)  0.323574        False    False
20   2  POINT (386038.746 393837.172)       NaN         None     True
21   2  POINT (386088.739 393836.358)       NaN         None     True
22   2  POINT (385955.789 393821.558)       NaN         None     True
23   2  POINT (385905.799 393822.534)       NaN         None     True
24   2  POINT (386088.795 393881.003)  0.100273        False    False
25   2  POINT (385938.987 393929.296)  0.341535        False    False
26   2  POINT (385988.752 393837.984)  0.332714        False    False
27   2  POINT (386042.498 393927.431)  0.018408        False    False
28   2  POINT (385992.502 393927.424)  0.323574        False    False
29   2  POINT (385989.200 393936.830)  0.323574        False    False
30   2  POINT (386039.193 393936.578)  0.011524        False    False
31   2  POINT (385923.638 393938.162)  0.375189        False    False
32   2  POINT (385973.623 393936.993)  0.280385        False    False
33   3  POINT (388713.638 395245.353)       NaN         None     True
34   3  POINT (388663.085 395196.280)       NaN         None     True
35   3  POINT (388713.737 395254.120)       NaN         None     True
36   3  POINT (388654.098 395336.215)       NaN         None     True
37   3  POINT (388653.274 395286.222)       NaN         None     True
38   3  POINT (388645.478 395379.148)       NaN         None     True
39   3  POINT (388695.251 395383.907)       NaN         None     True
40   3  POINT (388694.240 395336.063)       NaN         None     True
41   3  POINT (388698.294 395286.227)       NaN         None     True
42   3  POINT (388612.771 395334.892)       NaN         None     True
43   3  POINT (388652.766 395255.614)       NaN         None     True
44   3  POINT (388512.717 395411.737)       NaN         None     True
45   3  POINT (388538.227 395369.746)       NaN         None     True
46   3  POINT (388535.399 395320.843)       NaN         None     True
47   3  POINT (388503.661 395283.420)       NaN         None     True
48   3  POINT (388588.576 395257.572)       NaN         None     True
49   3  POINT (388638.552 395256.047)       NaN         None     True
50   3  POINT (388590.693 395307.527)       NaN         None     True
51   3  POINT (388576.538 395258.191)       NaN         None     True
52   3  POINT (388526.566 395259.865)       NaN         None     True
53   3  POINT (388766.236 395335.800)       NaN         None     True
54   3  POINT (388743.218 395252.725)       NaN         None     True
55   3  POINT (388735.292 395302.093)       NaN         None     True
56   3  POINT (388575.755 395218.208)       NaN         None     True
57   3  POINT (388643.730 395392.113)       NaN         None     True