In [1]:
import geopandas as gpd
from GreenExp import availability, accessibility, visibility

c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\libpysal\cg\alpha_shapes.py:38: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @jit
c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\libpysal\cg\alpha_shapes.py:164: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @jit
c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\libpysal\cg\alpha_shapes.py:198: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @jit
c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\libpysal\cg\alpha_shapes.py:260: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @jit

In [2]:
# Test data
test_path = "C:/Users/ygrin/Documents/Studie - MSc ADS/Utrecht University/Block 4 - Thesis/TestData/"
test_results_path = "C:/Users/ygrin/Documents/Studie - MSc ADS/Utrecht University/Block 4 - Thesis/TestData/Results/"
multi_point = gpd.read_file(test_path + "Test_multiple_home_locations.gpkg")

In [3]:
# Geodataframe contents
multi_point

   id                       geometry
0 NaN  POINT (388644.249 392861.634)
1 NaN  POINT (385981.911 393805.494)
2 NaN  POINT (388631.230 395322.181)

# Availability

In [4]:
# NDVI
availability.get_mean_NDVI(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                           buffer_type="network",
                           buffer_dist=500,
                           travel_speed=5,
                           trip_time=15,
                           network_type="walk",
                           output_dir=test_results_path)

Retrieving NDVI raster through planetary computer...
Done, running time: 0:00:06.525423

Retrieving network within total bounds of point(s) of interest, extended by buffer distance as specified...
Done, running time: 0:00:10.896351

Retrieving isochrone for point(s) of interest: 100%|██████████| 3/3 [00:06<00:00,  2.14s/it]

Note: creation of isochrones based on code by gboeing, source: https://github.com/gboeing/osmnx-examples/blob/main/notebooks/13-isolines-isochrones.ipynb

Calculating mean NDVI values...
Done, running time: 0:00:00.344138

Writing results to new geopackage file in specified directory...
Done

   id                       geometry  mean_NDVI
0   1  POINT (388644.249 392861.634)      0.246
1   2  POINT (385981.911 393805.494)      0.208
2   3  POINT (388631.230 395322.181)      0.263

In [5]:
# Land cover class percentages
availability.get_landcover_percentages(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                       landcover_raster_file=test_path+"Landcover_data_test.tif",
                                       buffer_dist=500,
                                       buffer_type="euclidian",
                                       output_dir=test_results_path)

Calculating landcover class percentages...
Done, running time: 0:00:00.338251

Writing results to new geopackage file in specified directory...
Done

,id,geometry,class_0,class_1001,class_1002,class_1003,class_1004,class_1005,class_1101,class_1103,...,class_1404,class_1405,class_2001,class_2003,class_2004,class_2005,class_1501,class_1502,class_1503,class_1504
0,1,POINT (388644.249 392861.634),21.62%,12.16%,0.01%,2.48%,1.07%,2.64%,0.23%,1.39%,...,0.3%,0.59%,0.04%,0.06%,0.06%,0.06%,NaN,NaN,NaN,NaN
1,2,POINT (385981.911 393805.494),21.54%,21.43%,0.02%,2.43%,1.21%,4.69%,5.52%,5.83%,...,0.79%,4.72%,0.5%,0.07%,0.12%,0.08%,0.11%,0.01%,0.02%,0.01%
2,3,POINT (388631.230 395322.181),21.62%,15.18%,NaN,1.58%,2.15%,2.37%,0.47%,4.29%,...,1.13%,0.48%,0.23%,0.04%,0.09%,0.06%,NaN,NaN,NaN,NaN

In [6]:
# Canopy coverage
availability.get_canopy_percentage(point_of_interest_file=test_path+"Test_single_home_location.gpkg",
                                   canopy_vector_file=test_path+"Canopy_single_home_500m.gpkg",
                                   buffer_dist=500,
                                   buffer_type="network",
                                   travel_speed=15,
                                   trip_time=10,
                                   network_type="bike",
                                   output_dir=test_results_path)

Retrieving network within total bounds of point(s) of interest, extended by buffer distance as specified...
Done, running time: 0:00:01.523283

Retrieving isochrone for point(s) of interest: 100%|██████████| 1/1 [00:01<00:00,  1.15s/it]

Note: creation of isochrones based on code by gboeing, source: https://github.com/gboeing/osmnx-examples/blob/main/notebooks/13-isolines-isochrones.ipynb

Calculating percentage of tree canopy coverage...
Warning: Not all buffer zones for the Points of Interest are completely within the area covered by the tree canopy file, note that results will be based on the intersecting part of the buffer zone
Done, running time: 0:00:01.504018

Writing results to new geopackage file in specified directory...
Done

   id                       geometry canopy_cover
0   1  POINT (387164.991 394443.414)       16.78%

In [7]:
# Park area coverage
availability.get_park_percentage(point_of_interest_file=test_path+"Test_single_home_location.gpkg",
                                 buffer_dist=500,
                                 buffer_type="network",
                                 travel_speed=15,
                                 trip_time=10,
                                 network_type="bike",
                                 output_dir=test_results_path)

Retrieving parks within total bounds of Point(s) of interest, extended by buffer distance if specified...
Done, running time: 0:00:00.398964

Retrieving network within total bounds of Point(s) of interest, extended by buffer distance as specified...
Done, running time: 0:00:02.022656

Retrieving isochrone for point(s) of interest: 100%|██████████| 1/1 [00:01<00:00,  1.42s/it]

Note: creation of isochrones based on code by gboeing, source: https://github.com/gboeing/osmnx-examples/blob/main/notebooks/13-isolines-isochrones.ipynb

Calculating percentage of park area coverage...
Warning: Not all buffer zones for the Points of Interest are completely within the area covered by the park file, note that results will be based on the intersecting part of the buffer zone
Done, running time: 0:00:00.034011

Writing results to new geopackage file in specified directory...
Done

   id                       geometry park_cover
0   1  POINT (387164.991 394443.414)      1.06%

# Accessibility

In [8]:
# Shortest distance to park area
accessibility.get_shortest_distance_park(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                         target_dist=500,
                                         destination='entrance',
                                         network_type='walk',
                                         output_dir=test_results_path)

Retrieving parks within total bounds of point(s) of interest, extended by a 750.0m buffer to account for edge effects...
Done, running time: 0:00:00.285078

Retrieving infrastructure network within total bounds of point(s) of interest, extended by a 750.0m buffer to account for edge effects...
Done, running time: 0:00:14.211916

Calculating shortest distances...
Done, running time: 0:00:01.407240

Writing results to new geopackage file in specified directory...
Done

   id                       geometry park_within_500m  distance_to_park
0   1  POINT (388644.249 392861.634)             True             287.0
1   2  POINT (385981.911 393805.494)             True             123.0
2   3  POINT (388631.230 395322.181)             True             301.0

# Visibility

In [9]:
poi, sampled_points_df = visibility.get_viewshed_GVI(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                                     greendata_raster_file=test_path+"GM_GS_5m.tif",
                                                     dtm_raster_file=test_path+"GM_DTM_5m.tif",
                                                     dsm_raster_file=test_path+"GM_DSM_5m.tif",
                                                     #network_file=test_path+"test_network_shp.shp",
                                                     buffer_dist=100,
                                                     viewing_dist=250,
                                                     sample_dist=50,
                                                     observer_height=1.7,
                                                     output_dir=test_results_path)

Retrieving network within total bounds of Point(s) of interest, extended by the buffer_dist in case provided...
Done, running time: 0:00:09.162159

Computing sample points for roads within area of interest's network...
Note: creation of sample points based on code by Ondrej Mlynarcik
source: https://github.com/Spatial-Data-Science-and-GEO-AI-Lab/2.5D-GreenViewIndex-Netherlands/blob/main/sample_points_linestrings.ipynb
Done, running time: 0:00:00.134500

Calculating GVI for Point 1: 100%|██████████| 12/12 [00:01<00:00,  7.76it/s]
Calculating GVI for Point 2: 100%|██████████| 60/60 [00:06<00:00,  9.62it/s]
Calculating GVI for Point 3: 100%|██████████| 46/46 [00:04<00:00,  9.76it/s]

Note: calculation of Viewshed GVI based on code by Johnny Huck and Labib Labib
source: https://github.com/jonnyhuck/green-visibility-index/blob/master/gvi.py

Writing results to new geopackage file in specified directory...
Done

In [10]:
poi

   id                       geometry    GVI  nr_of_points
0   1  POINT (388644.249 392861.634)  0.532            12
1   2  POINT (385981.911 393805.494)  0.118            60
2   3  POINT (388631.230 395322.181)  0.362            46

In [11]:
sampled_points_df

     id                       geometry       GVI
0     1  POINT (388564.100 392907.269)  0.582617
1     1  POINT (388579.827 392895.998)   0.52047
2     1  POINT (388661.088 392846.149)  0.509614
3     1  POINT (388564.100 392907.269)  0.582617
4     1  POINT (388661.088 392846.149)  0.509614
..   ..                            ...       ...
113   3  POINT (388729.860 395335.932)  0.338168
114   3  POINT (388743.218 395252.725)  0.311971
115   3  POINT (388644.604 395385.631)  0.414666
116   3  POINT (388626.529 395386.291)  0.435242
117   3  POINT (388626.529 395386.291)  0.435242

[118 rows x 3 columns]

In [12]:
poi_SV, sampled_points_gdf_SV = visibility.get_streetview_GVI(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                                              access_token="MAPILLARY_API_TOKEN",
                                                              buffer_dist=80,
                                                              write_to_file=True,
                                                              output_dir=test_results_path)

Retrieving network within total bounds of Point(s) of interest, extended by the buffer_dist in case provided...
Done, running time: 0:00:05.284844

Computing sample points for roads within area of interest's network...
Done, running time: 0:00:00.457455

Downloading StreetView images for road sample points...

Downloading tiles:   0%|          | 0/2 [00:00<?, ?it/s]c:\Users\ygrin\anaconda3\envs\ADSthesis\Lib\site-packages\mapbox_vector_tile\__init__.py:36: DeprecationWarning: `decode` signature has changed, use `default_options` instead
  warnings.warn("`decode` signature has changed, use `default_options` instead", DeprecationWarning)
Downloading tiles: 100%|██████████| 2/2 [00:01<00:00,  1.06it/s]
sys:1: ResourceWarning: Unclosed socket <zmq.Socket(zmq.PUSH) at 0x22083222970>
ResourceWarning: Enable tracemalloc to get the object allocation traceback
Downloading images (Process 0): 100%|██████████| 29/29 [12:08<00:00, 25.13s/it]

Done, running time: 0:12:18.021968

Calculating StreetView GVI score...
Done, running time: 0:00:00.139299

Note: workflow for calculating Streetview GVI based on code by Ilse A. Vázquez Sánchez
source: https://github.com/Spatial-Data-Science-and-GEO-AI-Lab/StreetView-NatureVisibility

Writing results to new geopackage file in specified directory...
Done

In [13]:
poi_SV

   id                       geometry    GVI  nr_of_points
0   2  POINT (385981.911 393805.494)  0.277            12
1   3  POINT (388631.230 395322.181)  0.014            14

In [14]:
sampled_points_gdf_SV

    id                       geometry       GVI is_panoramic  missing
0    2  POINT (386040.432 393837.144)  0.011524        False    False
1    2  POINT (385990.438 393837.957)  0.323574        False    False
2    2  POINT (385988.813 393882.896)  0.323574        False    False
3    2  POINT (385988.779 393855.628)  0.323574        False    False
4    2  POINT (385991.455 393882.846)  0.323574        False    False
5    2  POINT (385988.752 393837.984)  0.323574        False    False
6    2  POINT (386038.746 393837.172)  0.011524        False    False
7    2  POINT (385955.789 393821.558)  0.274215        False    False
8    2  POINT (385905.799 393822.534)  0.404380        False    False
9    2  POINT (385904.378 393822.562)  0.404380        False    False
10   2  POINT (385954.369 393821.586)  0.274215        False    False
11   2  POINT (385988.750 393836.563)  0.323574        False    False
12   3  POINT (388654.098 395336.215)  0.013628        False    False
13   3  POINT (388653.274 395286.222)  0.014712        False    False
14   3  POINT (388645.478 395379.148)  0.037419        False    False
15   3  POINT (388694.240 395336.063)       NaN         None     True
16   3  POINT (388698.294 395286.227)       NaN         None     True
17   3  POINT (388612.771 395334.892)  0.010661        False    False
18   3  POINT (388590.281 395297.803)  0.001739        False    False
19   3  POINT (388652.766 395255.614)  0.014712        False    False
20   3  POINT (388602.789 395257.139)  0.010661        False    False
21   3  POINT (388653.594 395305.607)  0.014712        False    False
22   3  POINT (388588.576 395257.572)  0.001739        False    False
23   3  POINT (388638.552 395256.047)  0.013628        False    False
24   3  POINT (388590.693 395307.527)  0.001739        False    False
25   3  POINT (388696.802 395304.565)       NaN         None     True
26   3  POINT (388606.693 395353.242)  0.010661        False    False
27   3  POINT (388643.730 395392.113)  0.037419        False    False
28   3  POINT (388618.927 395389.159)  0.010661        False    False