In [1]:
import geopandas as gpd
from GreenExp import availability, accessibility, visibility

In [2]:
# Test data
test_path = "C:/Users/ygrin/Documents/Studie - MSc ADS/Utrecht University/Block 4 - Thesis/TestData/"
test_results_path = "C:/Users/ygrin/Documents/Studie - MSc ADS/Utrecht University/Block 4 - Thesis/TestData/Results/"
multi_point = gpd.read_file(test_path + "Test_multiple_home_locations.gpkg")

In [3]:
# Geodataframe contents
multi_point

   id                       geometry
0 NaN  POINT (388644.249 392861.634)
1 NaN  POINT (385981.911 393805.494)
2 NaN  POINT (388631.230 395322.181)

# Availability

In [4]:
# NDVI
availability.get_mean_NDVI(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                           buffer_type="network",
                           buffer_dist=500,
                           travel_speed=5,
                           trip_time=15,
                           network_type="walk",
                           output_dir=test_results_path)

Retrieving NDVI raster through planetary computer...
Done, running time: 0:00:07.181640

Retrieving network within total bounds of point(s) of interest, extended by buffer distance as specified...
Done, running time: 0:00:17.580765

Retrieving isochrone for point(s) of interest: 100%|██████████| 3/3 [00:06<00:00,  2.19s/it]

Note: creation of isochrones based on code by gboeing, source: https://github.com/gboeing/osmnx-examples/blob/main/notebooks/13-isolines-isochrones.ipynb

Calculating mean NDVI values...
Done, running time: 0:00:00.417124

Writing results to new geopackage file in specified directory...
Done

   id                       geometry  mean_NDVI
0   1  POINT (388644.249 392861.634)      0.246
1   2  POINT (385981.911 393805.494)      0.208
2   3  POINT (388631.230 395322.181)      0.263

In [5]:
# Land cover class percentages
availability.get_landcover_percentages(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                       landcover_raster_file=test_path+"Landcover_data_test.tif",
                                       buffer_dist=500,
                                       buffer_type="euclidian",
                                       output_dir=test_results_path)

Calculating landcover class percentages...
Done, running time: 0:00:00.764711

Writing results to new geopackage file in specified directory...
Done

,id,geometry,class_0,class_1001,class_1002,class_1003,class_1004,class_1005,class_1101,class_1103,...,class_1404,class_1405,class_2001,class_2003,class_2004,class_2005,class_1501,class_1502,class_1503,class_1504
0,1,POINT (388644.249 392861.634),21.62%,12.16%,0.01%,2.48%,1.07%,2.64%,0.23%,1.39%,...,0.3%,0.59%,0.04%,0.06%,0.06%,0.06%,NaN,NaN,NaN,NaN
1,2,POINT (385981.911 393805.494),21.54%,21.43%,0.02%,2.43%,1.21%,4.69%,5.52%,5.83%,...,0.79%,4.72%,0.5%,0.07%,0.12%,0.08%,0.11%,0.01%,0.02%,0.01%
2,3,POINT (388631.230 395322.181),21.62%,15.18%,NaN,1.58%,2.15%,2.37%,0.47%,4.29%,...,1.13%,0.48%,0.23%,0.04%,0.09%,0.06%,NaN,NaN,NaN,NaN

In [6]:
# Canopy coverage
availability.get_canopy_percentage(point_of_interest_file=test_path+"Test_single_home_location.gpkg",
                                   canopy_vector_file=test_path+"Canopy_single_home_500m.gpkg",
                                   buffer_dist=500,
                                   buffer_type="network",
                                   travel_speed=15,
                                   trip_time=10,
                                   network_type="bike",
                                   output_dir=test_results_path)

Retrieving network within total bounds of point(s) of interest, extended by buffer distance as specified...
Done, running time: 0:00:07.162638

Retrieving isochrone for point(s) of interest: 100%|██████████| 1/1 [00:00<00:00,  1.03it/s]

Note: creation of isochrones based on code by gboeing, source: https://github.com/gboeing/osmnx-examples/blob/main/notebooks/13-isolines-isochrones.ipynb

Calculating percentage of tree canopy coverage...
Warning: Not all buffer zones for the Points of Interest are completely within the area covered by the tree canopy file, note that results will be based on the intersecting part of the buffer zone
Done, running time: 0:00:01.138131

Writing results to new geopackage file in specified directory...
Done

   id                       geometry canopy_cover
0   1  POINT (387164.991 394443.414)       16.78%

In [7]:
# Park area coverage
availability.get_park_percentage(point_of_interest_file=test_path+"Test_single_home_location.gpkg",
                                 buffer_dist=500,
                                 buffer_type="network",
                                 travel_speed=15,
                                 trip_time=10,
                                 network_type="bike",
                                 output_dir=test_results_path)

Retrieving parks within total bounds of Point(s) of interest, extended by buffer distance if specified...
Done, running time: 0:00:05.033949

Retrieving network within total bounds of Point(s) of interest, extended by buffer distance as specified...
Done, running time: 0:00:02.524874

Retrieving isochrone for point(s) of interest: 100%|██████████| 1/1 [00:01<00:00,  1.18s/it]
c:\Users\ygrin\anaconda3\envs\spatial\lib\site-packages\geopandas\tools\clip.py:67: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  clipped.loc[

Note: creation of isochrones based on code by gboeing, source: https://github.com/gboeing/osmnx-examples/blob/main/notebooks/13-isolines-isochrones.ipynb

Calculating percentage of park area coverage...
Warning: Not all buffer zones for the Points of Interest are completely within the area covered by the park file, note that results will be based on the intersecting part of the buffer zone
Done, running time: 0:00:00.027237

Writing results to new geopackage file in specified directory...
Done

   id                       geometry park_cover
0   1  POINT (387164.991 394443.414)      1.06%

# Accessibility

In [8]:
# Shortest distance to park area
accessibility.get_shortest_distance_park(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                         target_dist=500,
                                         destination='entrance',
                                         network_type='walk',
                                         output_dir=test_results_path)

Retrieving parks within total bounds of point(s) of interest, extended by a 750.0m buffer to account for edge effects...
Done, running time: 0:00:04.355705

Retrieving infrastructure network within total bounds of point(s) of interest, extended by a 750.0m buffer to account for edge effects...
Done, running time: 0:00:17.066823

Calculating shortest distances...

c:\Users\ygrin\anaconda3\envs\spatial\lib\site-packages\geopandas\tools\clip.py:67: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  clipped.loc[
c:\Users\ygrin\anaconda3\envs\spatial\lib\site-packages\geopandas\tools\clip.py:67: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  clipped.loc[
c:\Users\ygrin\anaconda3\envs\spatial\lib\site-packages\geopandas\tools\clip.py:67: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  clipped.loc[

Done, running time: 0:00:01.438834

Writing results to new geopackage file in specified directory...
Done

   id                       geometry park_within_500m  distance_to_park
0   1  POINT (388644.249 392861.634)             True             287.0
1   2  POINT (385981.911 393805.494)             True             123.0
2   3  POINT (388631.230 395322.181)             True             301.0

# Visibility

In [9]:
poi, sampled_points_df = visibility.get_viewshed_GVI(point_of_interest_file=test_path+"Test_multiple_home_locations.gpkg",
                                                     greendata_raster_file=test_path+"GM_GS_5m.tif",
                                                     dtm_raster_file=test_path+"GM_DTM_5m.tif",
                                                     dsm_raster_file=test_path+"GM_DSM_5m.tif",
                                                     #network_file=test_path+"test_network_shp.shp",
                                                     buffer_dist=100,
                                                     viewing_dist=250,
                                                     sample_dist=50,
                                                     observer_height=1.7,
                                                     output_dir=test_results_path)

Retrieving network within total bounds of Point(s) of interest, extended by the buffer_dist in case provided...
Done, running time: 0:00:13.992052

Computing sample points for roads within area of interest's network...
Note: creation of sample points based on code by Ondrej Mlynarcik
source: https://github.com/Spatial-Data-Science-and-GEO-AI-Lab/2.5D-GreenViewIndex-Netherlands/blob/main/sample_points_linestrings.ipynb
Done, running time: 0:00:00.114028

Calculating GVI for Point 1: 100%|██████████| 12/12 [00:02<00:00,  4.39it/s]
Calculating GVI for Point 2: 100%|██████████| 60/60 [00:06<00:00,  9.12it/s]
Calculating GVI for Point 3: 100%|██████████| 46/46 [00:05<00:00,  9.00it/s]

Note: calculation of Viewshed GVI based on code by Johnny Huck and Labib Labib
source: https://github.com/jonnyhuck/green-visibility-index/blob/master/gvi.py

Writing results to new geopackage file in specified directory...
Done

In [10]:
poi

   id                       geometry    GVI  nr_of_points
0   1  POINT (388644.249 392861.634)  0.532          12.0
1   2  POINT (385981.911 393805.494)  0.118          60.0
2   3  POINT (388631.230 395322.181)  0.362          46.0

In [11]:
sampled_points_df

     id                       geometry
0     1  POINT (388564.100 392907.269)
1     1  POINT (388579.827 392895.998)
2     1  POINT (388661.088 392846.149)
3     1  POINT (388564.100 392907.269)
4     1  POINT (388661.088 392846.149)
..   ..                            ...
113   3  POINT (388729.860 395335.932)
114   3  POINT (388743.218 395252.725)
115   3  POINT (388644.604 395385.631)
116   3  POINT (388626.529 395386.291)
117   3  POINT (388626.529 395386.291)

[118 rows x 2 columns]